{% extends "AppBundle:Layouts:layout.html.twig" %}


{% block content %}
    <section class="row about_medicalpro_row">
        <div class="container">
            <div class="row titleRow">
                <h5>Ingresa tus datos para avanzar</h5>
                <h2>Accede a tu cuenta</h2>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 ">
                    
                    <form action="#" class="row">
                        <input type="text" class="form-control" placeholder="Your Name">
                        <input type="email" class="form-control" placeholder="Enter your Email Address">
                        <input type="submit" class="form-control" value="submit">
                    </form>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

